.home {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home .recommendations {
  width: 800px;
}

.home .player {
  margin-bottom: 40px;
}
